<p>edit-shipment works!</p>
<nz-layout>
    <nz-header>Edit Shipment</nz-header>
</nz-layout>
<div class= "title" nz-row>
    <div nz-col nzSpan="24">Edit Shipment</div>
</div>
<div nz-row>
    <div nz-col nzSpan="12">Shipping Code</div>
    <div nz-col nzSpan="12">Shipping code</div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12">Shipping Code</div>
    <div nz-col nzSpan="12">Shipping code</div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12">Shipping Code</div>
    <div nz-col nzSpan="12">Shipping code</div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12">Shipping Code</div>
    <div nz-col nzSpan="12">Shipping code</div>
  </div>
  